@using Notiflex.ViewModels;
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
<link href="~/css/profile.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">    
    <link href="~/css/chain/templatemo-chain-app-dev.css" rel="stylesheet" />
    <link href="~/css/chain/animated.css" rel="stylesheet" />
    <link href="~/css/chain/owl.css" rel="stylesheet" />
<div class="box-holder">
    <form method="post" asp-area="" asp-controller="Account" asp-action="Profile">
        <input asp-for="@Model.TelegramChatId" type="text" class="input" placeholder="TelegramChatId">
        <input asp-for="@Model.HomeTown" type="text" class="input" placeholder="HomeTown">
        <input asp-for="@Model.DefaultTime" type="text" class="input" placeholder="DefaultTime">
        <input asp-for="@Model.ProfilePic" type="text" class="input" placeholder="ProfilePic">
        <input asp-for="@Model.Description" type="text" class="input" placeholder="Description">
        <input asp-for="@Model.LastName" type="text" class="input" placeholder="LastName">
        <input asp-for="@Model.FirstName" type="text" class="input" placeholder="FirstName">
        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Update</button>
    </form>
    <form method="post">
        <button asp-area="" asp-route-id="@Model.TelegramChatId" asp-controller="Home" asp-action="SendData" type="submit" class="form-control btn btn-primary rounded submit px-3">Send data</button>
    </form>
</div>

v