@using Notiflex.ViewModels;
@using System.Globalization;
@model List<WeatherCardViewModel>
@{
    string value = string.Empty;
    List<WeatherCardViewModel> days = new List<WeatherCardViewModel>();


    foreach (var item in Model)
    {
        if (item.Date.Substring(8, 2) != value)
        {
            value = item.Date.Substring(8, 2);
            days.Add(item);
        }
    }

}
<link href="~/css/weathercard.css" rel="stylesheet" />
<div id="weatherCardContainer" class="container">
    <div class="card card-1">
        <div id="demo" class="carousel slide" data-ride="carousel">



            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <div class="temp">@Model.First().Temp</div>
                            <div class="location">@Model.First().Name</div>
                        </div>
                        <div class="col-6 justify-content-right">
                            <img class="img-fluid" src="@($"http://openweathermap.org/img/w/{Model.First().Icon}.png")">
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="card card-2">
        <div id="demo" class="carousel slide" data-ride="carousel">



            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="col">
                                <div class="row row1">@Model[i].Temp</div>
                                <div class="row row2"><img class="img-fluid" src="@($"http://openweathermap.org/img/w/{Model[i].Icon}.png")" /></div>
                                <div class="row row3">@Model[i].Date.Substring(11, 5)</div>
                            </div>
                        }
                    </div>

                </div>
            </div>

        </div>


    </div>
    <div class="card card-3">
        <div id="demo" class="carousel slide" data-ride="carousel">



            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @foreach (var item in days)
                        {
                            <div class="col">
                                <div class="row row1">@item.Temp</div>
                                <div class="row row2"><img class="img-fluid" src="@($"http://openweathermap.org/img/w/{item.Icon}.png")" /></div>
                                <div class="row row3">@item.Date.Substring(5, 5)</div>
                            </div>
                        }

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@*<div class="mainScreen">
    <div class="header vcenter">
        <div class="logoHold center">
            <img src="https://i.imgrpost.com/imgr/2018/01/28/mostlycloudy.png" alt="mostlycloudy.png" border="0" />
        </div>
        <div class="logoName center">
            @Model.First().Name
        </div>
    </div>
    <div class="city">@Model.First().Date</div>
    <div class="sunHolder center">
        <div class="sun"></div>
    </div>
    <div class="infotab center">
        <div class="temprature">
            <div class="tempvalue center">
                @Model.First().Temp
            </div>
            <div class="condition center">
                @Model.First().Description
            </div>
        </div>
        <div class="details">
            <div class="detail">
                Mostly Clear
            </div>
            <div class="detail">
                Humidity : @Model.First().Humidity%
            </div>
            <div class="detail">
                Wind : @Model.First().Speed km/h N-E
            </div>
            <div class="detail">
                Min: @Model.First().TempMin &nbsp;&nbsp;Max: @Model.First().TempMax
            </div>
        </div>
    </div>
    <div class="future vcenter">
        <div class="day vcenter">
            <h5>Tue</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/006-sunny.png" alt="006-sunny.png" border="0" />
            <div class="temp">@Model[1].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Wed</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/009-sky.png" alt="009-sky.png" border="0" />
            <div class="temp">@Model[2].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Thu</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/008-summer-rain.png" alt="008-summer-rain.png" border="0" />
            <div class="temp">@Model[3].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Fri</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/009-sky.png" alt="009-sky.png" border="0" />
            <div class="temp">@Model[4].Temp</div>
        </div>
    </div>
</div>*@
