@using Notiflex.ViewModels;
@model List<WeatherCardViewModel>
@{
    string value = string.Empty;
}
<div class="mainScreen">
    <div class="header vcenter">
        <div class="logoHold center">
            <img src="https://i.imgrpost.com/imgr/2018/01/28/mostlycloudy.png" alt="mostlycloudy.png" border="0" />
        </div>
        <div class="logoName center">
            @Model.First().Name
        </div>
    </div>@*
    <div class="todayLabel center">Today's Weather</div>*@
    <div class="city">@Model.First().Date</div>
    <div class="sunHolder center">
        <div class="sun"></div>
    </div>
    <div class="infotab center">
        <div class="temprature">
            <div class="tempvalue center">
                @Model.First().Temp
            </div>
            <div class="condition center">
                @Model.First().Description
            </div>
        </div>
        <div class="details">
            <div class="detail">
                Mostly Clear
            </div>
            <div class="detail">
                Humidity : @Model.First().Humidity%
            </div>
            <div class="detail">
                Wind : @Model.First().Speed km/h N-E
            </div>
            <div class="detail">
                Min: @Model.First().TempMin &nbsp;&nbsp;Max: @Model.First().TempMax
            </div>
        </div>
    </div>
    <div class="future vcenter">
        <div class="day vcenter">
            <h5>Tue</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/006-sunny.png" alt="006-sunny.png" border="0" />
            <div class="temp">@Model[1].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Wed</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/009-sky.png" alt="009-sky.png" border="0" />
            <div class="temp">@Model[2].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Thu</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/008-summer-rain.png" alt="008-summer-rain.png" border="0" />
            <div class="temp">@Model[3].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Fri</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/009-sky.png" alt="009-sky.png" border="0" />
            <div class="temp">@Model[4].Temp</div>
        </div>
    </div>
</div>