@using Notiflex.ViewModels;
@using System.Globalization;
@model List<WeatherCardViewModel>
@{
    string value = string.Empty;
    List<WeatherCardViewModel> days = new List<WeatherCardViewModel>();

    foreach (var item in Model)
    {
        if (item.Date.Substring(8, 2) != value)
        {
            value = item.Date.Substring(8, 2);
            days.Add(item);
        }
    }
}
<link href="~/css/weathercard.css" rel="stylesheet" />
<div id="weatherCardContainer" class="container">
    <div class="card card-1">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6">
                            <div class="temp">@Model.First().Temp C</div>
                            <div class="location">@Model.First().Name</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-2">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row-main">
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="col">
                                <div class="row row1">@Model[i].Temp C</div>
                                <div class="row row2"><img class="img-fluid" src="@($"http://openweathermap.org/img/w/{Model[i].Icon}.png")" /></div>
                                <div class="row row3">@Model[i].Date.Substring(11, 5)</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-3">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @foreach (var item in days)
                        {
                            <div class="col">
                                <div class="row row1">@item.Temp C</div>
                                <div class="row row2"><img class="img-fluid" src="@($"http://openweathermap.org/img/w/{item.Icon}.png")" /></div>
                                <div class="row row3">@item.Date.Substring(5, 5)</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>