@using Notiflex.ViewModels;
@model List<WeatherCardViewModel>
@{
    string value = string.Empty;
}

@*<div class="mainScreen">
    <div class="header vcenter">
        <div class="logoHold center">
            <img src="https://i.imgrpost.com/imgr/2018/01/28/mostlycloudy.png" alt="mostlycloudy.png" border="0" />
        </div>
        <div class="logoName center">
            @Model.First().Name
        </div>
    </div>
    <div class="city">@Model.First().Date</div>
    <div class="sunHolder center">
        <div class="sun"></div>
    </div>
    <div class="infotab center">
        <div class="temprature">
            <div class="tempvalue center">
                @Model.First().Temp
            </div>
            <div class="condition center">
                @Model.First().Description
            </div>
        </div>
        <div class="details">
            <div class="detail">
                Mostly Clear
            </div>
            <div class="detail">
                Humidity : @Model.First().Humidity%
            </div>
            <div class="detail">
                Wind : @Model.First().Speed km/h N-E
            </div>
            <div class="detail">
                Min: @Model.First().TempMin &nbsp;&nbsp;Max: @Model.First().TempMax
            </div>
        </div>
    </div>
    <div class="future vcenter">
        <div class="day vcenter">
            <h5>Tue</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/006-sunny.png" alt="006-sunny.png" border="0" />
            <div class="temp">@Model[1].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Wed</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/009-sky.png" alt="009-sky.png" border="0" />
            <div class="temp">@Model[2].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Thu</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/008-summer-rain.png" alt="008-summer-rain.png" border="0" />
            <div class="temp">@Model[3].Temp</div>
        </div>
        <div class="day vcenter">
            <h5>Fri</h5>
            <img src="http://i.imgrpost.com/imgr/2017/08/01/009-sky.png" alt="009-sky.png" border="0" />
            <div class="temp">@Model[4].Temp</div>
        </div>
    </div>
</div>*@

<head>
    <link href="css/style.css" rel="stylesheet">
    <link href="~/vendors/weather/coreui-chartjs.css" rel="stylesheet" />
</head>
<body>

    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-primary">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        26K <span class="fs-6 fw-normal">
                            (-12.4%
                            <svg class="icon">
                                <use xlink:href="~/vendors/weather/free.svg#cil-arrow-bottom"></use>
                            </svg>)
                        </span>
                    </div>
                    <div>Users</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="~/vendors/weather/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-info">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        $6.200 <span class="fs-6 fw-normal">
                            (40.9%
                            <svg class="icon">
                                <use xlink:href="~/vendors/weather/free.svg#cil-arrow-top"></use>
                            </svg>)
                        </span>
                    </div>
                    <div>Income</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="~/vendors/weather/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-warning">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        2.49% <span class="fs-6 fw-normal">
                            (84.7%
                            <svg class="icon">
                                <use xlink:href="~/vendors/weather/free.svg#cil-arrow-top"></use>
                            </svg>)
                        </span>
                    </div>
                    <div>Conversion Rate</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="~/vendors/weather/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card mb-4 text-white bg-danger">
            <div class="card-body pb-0 d-flex justify-content-between align-items-start">
                <div>
                    <div class="fs-4 fw-semibold">
                        44K <span class="fs-6 fw-normal">
                            (-23.6%
                            <svg class="icon">
                                <use xlink:href="~/vendors/weather/free.svg#cil-arrow-bottom"></use>
                            </svg>)
                        </span>
                    </div>
                    <div>Sessions</div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-transparent text-white p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg class="icon">
                            <use xlink:href="~/vendors/weather/free.svg#cil-options"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                </div>
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
            </div>
        </div>
    </div>
    <script src="~/vendors/weather/coreui.bundle.min.js"></script>
    <script src="~/vendors/weather/simplebar.min.js"></script>
    <script src="~/vendors/weather/chart.min.js"></script>
    <script src="~/vendors/weather/coreui-chartjs.js"></script>
    <script src="~/vendors/weather/coreui-utils.js"></script>
    <script src="~/vendors/weather/main.js"></script>
</body>