@using Notiflex.Core.Models.HomePageModels;
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    string value = "";
}
<script src="~/js/weathercard.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<link href="~/css/weathercard.css" rel="stylesheet" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <div class="centered">
        <input asp-for="@value" type="text" placeholder="Search" class="searchTerm">
        <button type="submit" class="searchButton">Search</button>
    </div>
</form>

<div class="replace"></div>
@if (Model.Avalable)
{
    <div class="containerr">
        <div class="weather-side">
            <div class="weather-gradient"></div>
            <div class="date-container">
                <h2 class="date-dayname">Tuesday</h2><span class="date-day">15 Jan 2019</span><i class="location-icon" data-feather="map-pin"></i><span class="location">@Model.Name, @Model.Country</span>
            </div>
            <div class="weather-container">
                <i class="weather-icon" data-feather="sun"></i>
                <h1 class="weather-temp">@Model.Temp</h1>
                <h3 class="weather-desc">@Model.Weather</h3>
            </div>
        </div>
        <div class="info-side">
            <div class="today-info-container">
                <div class="today-info">
                    <div class="precipitation">
                        <span class="title">PRESSURE</span><span class="value">@Model.Pressure</span>
                        <div class="clear"></div>
                    </div>
                    <div class="humidity">
                        <span class="title">HUMIDITY</span><span class="value">@Model.Humidity %</span>
                        <div class="clear"></div>
                    </div>
                    <div class="wind">
                        <span class="title">WIND</span><span class="value">@Model.Speed km/h</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="week-container">
                <ul class="week-list">
                    <li class="active"><i class="day-icon" data-feather="sun"></i><span class="day-name">Tue</span><span class="day-temp">29°C</span></li>
                    <li><i class="day-icon" data-feather="cloud"></i><span class="day-name">Wed</span><span class="day-temp">21°C</span></li>
                    <li><i class="day-icon" data-feather="cloud-snow"></i><span class="day-name">Thu</span><span class="day-temp">08°C</span></li>
                    <li><i class="day-icon" data-feather="cloud-rain"></i><span class="day-name">Fry</span><span class="day-temp">19°C</span></li>
                </ul>
            </div>
          @*  <div class="location-container">
                <button class="location-button"> <i data-feather="map-pin"></i><span>Change location</span></button>
            </div>*@
        </div>
    </div>
}