@using Notiflex.ViewModels;
@model TriggerAddViewModel

<form method="post" asp-area="Main" asp-controller="Dashboard" asp-action="CreateTrigger">

    <input class="form-control" asp-for="@Model.Identity" type="text" class="input" placeholder="FirstName">
    <input class="form-control" asp-for="@Model.City" type="text" class="input" placeholder="FirstName">
    <select class="form-control" asp-for="@Model.IntervalUnit" type="" class="input" placeholder="FirstName">

        <option>Minutes</option>
        <option>Hours</option>
        <option>Days</option>
        <option>Months</option>
        <option>Years</option>

    </select>
    <input class="form-control" asp-for="@Model.Interval" type="number" class="input" placeholder="FirstName">

    <ul>
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Monday]" type="checkbox" class="input">
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Tuesday]" type="checkbox" class="input">
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Wednesday]" type="checkbox" class="input">
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Thursday]" type="checkbox" class="input">
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Friday]" type="checkbox" class="input">
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Saturday]" type="checkbox" class="input">
        <input value=true asp-for="@Model.DaySchedule[DayOfWeek.Sunday]" type="checkbox" class="input">

    </ul>

    <button type="submit">
        Create Trigger
    </button>
</form>

