@using Notiflex.ViewModels;
@using System.Text;
@model DashboardViewModel
@{
    //var weatherData = Model.DashboardWeatherCard;
    //foreach (var item in weatherData)
    //{
    //    if(item.)
    //}
}
<head>
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link href="css/examples.css" rel="stylesheet">
    <link href="~/vendors/svg/coreui-chartjs.css" rel="stylesheet" />
</head>

<div class="row">
    <h2 class="table-title text-white">Welcome back @Model.ProfileView.FirstName.</h2>
</div>

<body onload="ChartData('@Model.DashboardWeatherCard.First().Name',
'@Model.TimeRanges[0]', '@Model.TimeRanges[1]', '@Model.TimeRanges[2]',
'@Model.TimeRanges[3]', '@Model.TimeRanges[4]', '@Model.TimeRanges[5]', '@Model.TimeRanges[6]',
'@Model.TempData[0]', '@Model.TempData[1]', '@Model.TempData[2]', '@Model.TempData[3]',
'@Model.TempData[4]', '@Model.TempData[5]', '@Model.TempData[6]',
'@Model.CloudsData[0]', '@Model.CloudsData[1]', '@Model.CloudsData[2]', '@Model.CloudsData[3]',
'@Model.CloudsData[4]', '@Model.CloudsData[5]', '@Model.CloudsData[6]',
'@Model.PressureData[0]', '@Model.PressureData[1]', '@Model.PressureData[2]', '@Model.PressureData[3]',
'@Model.PressureData[4]', '@Model.PressureData[5]', '@Model.PressureData[6]',
'@Model.DashboardWeatherCard.First().Humidity')">
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <div class="row row-cols-2">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header"><strong>Temperature</strong></div>
                        <div class="card-body">
                            <div class="example">
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-691">
                                        <div class="c-chart-wrapper">
                                            <canvas id="canvas-1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header"><strong>Clouds</strong></div>
                        <div class="card-body">
                            <div class="example">
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1105">
                                        <div class="c-chart-wrapper">
                                            <canvas id="canvas-2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header"><strong>Humidity</strong></div>
                        <div class="card-body">
                            <div class="example">
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-974">
                                        <div class="c-chart-wrapper">
                                            <canvas id="canvas-3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header"><strong>Pressure</strong></div>
                        <div class="card-body">
                            <div class="example">
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-15">
                                        <div class="c-chart-wrapper">
                                            <canvas id="canvas-10"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*<script src="~/vendors/svg/coreui.bundle.min.js"></script>*@
<script src="~/vendors/svg/simplebar.min.js"></script>
<script src="~/vendors/svg/chart.min.js"></script>
<script src="~/vendors/svg/coreui-chartjs.js"></script>
<script src="~/vendors/svg/charts.js"></script>
