@using Notiflex.ViewModels;
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<head>
    <link href="~/vendors/svg/coreui-chartjs.css" rel="stylesheet" />
    <link href="~/css/triggers/dashboardtriggerlist.css" rel="stylesheet" />
</head>

<body onload="ChartData('@Model.DashboardWeatherCard.First().Name',
'@Model.TimeRanges[0]', '@Model.TimeRanges[1]', '@Model.TimeRanges[2]',
'@Model.TimeRanges[3]', '@Model.TimeRanges[4]', '@Model.TimeRanges[5]', '@Model.TimeRanges[6]',
'@Model.TempData[0]', '@Model.TempData[1]', '@Model.TempData[2]', '@Model.TempData[3]',
'@Model.TempData[4]', '@Model.TempData[5]', '@Model.TempData[6]',
'@Model.CloudsData[0]', '@Model.CloudsData[1]', '@Model.CloudsData[2]', '@Model.CloudsData[3]',
'@Model.CloudsData[4]', '@Model.CloudsData[5]', '@Model.CloudsData[6]',
'@Model.PressureData[0]', '@Model.PressureData[1]', '@Model.PressureData[2]', '@Model.PressureData[3]',
'@Model.PressureData[4]', '@Model.PressureData[5]', '@Model.PressureData[6]',
'@Model.DashboardWeatherCard.First().Humidity')">

    <div class="row">
        <div id="buttonContainer" class="container">
            <h2 class="table-title text-white">Welcome back @Model.ProfileView.FirstName</h2>
        </div>
    </div>
    <div id="triggersContainer" class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Temperature</h5>
                    </div>
                    <div class="card-body pt-0 mt-1">
                        <canvas id="canvas-1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Clouds</h5>
                    </div>
                    <div class="card-body pt-0 mt-1">
                        <canvas id="canvas-2"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Humidity</h5>
                    </div>
                    <div class="card-body pt-0 mt-1">
                        <canvas id="canvas-3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">Pressure</h5>
                    </div>
                    <div class="card-body pt-0 mt-1">
                        <canvas id="canvas-10"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/vendors/svg/simplebar.min.js"></script>
<script src="~/vendors/svg/chart.min.js"></script>
<script src="~/vendors/svg/coreui-chartjs.js"></script>
<script src="~/vendors/svg/charts.js"></script>
