@using Notiflex.ViewModels;
@model ProceedViewModel

@{
    ViewData["Title"] = "Proceed";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/templates/login_v1/css/main.css">
    <link href="~/css/chain/animated.css" rel="stylesheet" />
    <link href="~/css/chain/owl.css" rel="stylesheet" />
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-register100 wow slideInRight" data-wow-duration="0.75s" data-wow-delay="0s">
                <form method="post" asp-controller="Account" asp-action="Proceed" class="login100-form">
                    @if (TempData["StatusMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show">
                            @TempData["StatusMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (TempData["StatusMessageDanger"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            @TempData["StatusMessageDanger"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <span class="login100-logo-span"><a class="login100-logo-a" asp-controller="Home" asp-action="Index"><img class="login100-logo" src="~/images/logos/notiflex_logo_01.png" /></a></span>

                    <div class="wrap-input100">
                        <a class="text-info-proceed">
                            Complete a few more steps to unlock the full potential of our weather app.
                        </a>
                    </div>
                    <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="Notiflex_bot" data-size="large" data-auth-url="https://notiflex20230210192522.azurewebsites.net/Home/Account/Proceed" data-request-access="write"></script>

                    <div class="wrap-input100">
                        <div class="text-info-proceed telegram">
                            Telegram chat Id 
                            <i class="fa fa-question-circle icon-active"></i>
                            <span class="tooltip">To fill out this field use the button above. Note: You need an active telegram account.</span>
                        </div>
                    </div>

                    <div class="wrap-input100">
                        <input asp-for="@Model.TelegramId" readonly value="@ViewData["id"]" class="input100" type="password" name="TelegramId" placeholder="Id" required/>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100">
                        <div class="text-info-proceed town">
                            City
                           <i class="fa fa-question-circle icon-active"></i>
                            <span class="tooltip">We need this information for accurate weather data.</span>
                        </div>
                    </div>

                    <div class="wrap-input100">
                        <input asp-for="@Model.HomeTown" class="input100" type="text" name="HomeTown" placeholder="City name" required/>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="hidden" asp-for=@Model.PhotoUrl value="@ViewData["photo_url"]">
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Proceed
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="~/js/chain/owl-carousel.js"></script>
<script src="~/js/chain/animation.js"></script>
<script src="~/js/chain/custom.js"></script>
