@using Notiflex.ViewModels;
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
<link href="~/css/profile.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="container">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150" alt="@Model.FirstName" src="@Model.ProfilePic"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
                <form method="post" asp-area="Home" asp-controller="Account" asp-action="Profile">

            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Name</label>
                        <input class="form-control" asp-for="@Model.FirstName" type="text" class="input" placeholder="FirstName">
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Surname</label>
                        <input class="form-control" asp-for="@Model.LastName" type="text" class="input" placeholder="LastName">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Description</label>
                        <input class="form-control"  asp-for="@Model.Description" type="text" class="input" placeholder="Description">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">ProfilePic</label>
                        <input class="form-control" asp-for="@Model.ProfilePic" type="text" class="input" placeholder="ProfilePic">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Home Town</label>
                        <input class="form-control" asp-for="@Model.HomeTown" type="text" class="input" placeholder="HomeTown">
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Telegram Chat Id</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
                </form>

        </div>
     <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12">
                    <label class="labels">Telegram Chat Id</label>
                    <input asp-for="@Model.TelegramChatId" type="text" class="input" placeholder="TelegramChatId">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
</div>

@*<div class="box-holder">
    <form method="post" asp-area="" asp-controller="Account" asp-action="Profile">
        <input asp-for="@Model.DefaultTime" type="text" class="input" placeholder="DefaultTime">
        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Update</button>
    </form>
    <form method="post">
        <button asp-area="" asp-route-id="@Model.TelegramChatId" asp-controller="Home" asp-action="SendData" type="submit" class="form-control btn btn-primary rounded submit px-3">Send data</button>
    </form>
</div>*@